/*header*/
header{
    margin-top: 20px;
    text-align: center;
    border:2px solid black;
    border-radius: 10px;
    background-color: rgb(47, 255, 175);
    box-shadow: 0 0 10px black;
}
header h1 a{
    text-decoration: none;
    color:black;
}

/* aside*/
aside{
    background-color: rgba(64, 255, 47, 0.589);
    margin-top: 50px;
    float: left;
    width: 200px;
    height: 400px;
    text-align: center;
    border: 2px solid black ;
    border-radius: 5px;
    padding: 15px 25px;
    box-shadow: 0 0 10px black;
}
aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul li a{
    text-decoration: none;
    font-size: 25px;
    border: 2px solid black ;
    padding: 15px;
    margin: 75px 0;
    display: block;
    border: 2px solid black ;
    border-radius: 5px;
    color: black;
    background-color:wheat;
    box-shadow: 0 0 10px black;
}
aside ul li a.active{
    background-color: palevioletred;
}
aside ul li a:hover{
    background: rgba(255, 136, 0, 0.733);
}

/*Landing */

#search{
    width: 550px;
    margin-top: 80px;
    margin-left: 500px;
    border:2px solid black; 
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    background-color: beige;
    box-shadow: 0 0 10px black;
}
 

.search_form{
    padding: 10px;
    
}
.s_detaits{
margin: 00px;
padding: 10px;

}
.s_input{
    padding: 5px 60px;
    border :1px solid black;

}
.s_btn1{
    font-size: 20px;
    margin: 12px;
    padding: 10px 35px;
    background-color: red;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    
}
.s_btn1 a,.s_btn2 a{
    text-decoration: none;
    color:black;
}
.s_btn2{
    font-size: 20px;
    margin: 12px;
    padding: 10px 35px;
    background-color:royalblue;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

/* Add Participant details*/
table{
    text-align: center;
    margin-left: 150px;
}
#p_div{
    width: 800px;
    margin-top: 20px;
    margin-left: 350px;
    border:2px solid black; 
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    background-color: beige;
    box-shadow: 0 0 10px black;
}

.p_name{
    margin: 00px;
    padding: 20px;
    
    }
    .p_input{
        margin: 10px;
        padding: 8px 60px;
        border :1px solid black;
    
    }
    .p_btn1{
        font-size: 20px;
        margin: 12px;
        padding: 10px 35px;
        background-color: red;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 0 0 10px black;
        
    }
    .p_btn1 a,.p_btn2 a{
        text-decoration: none;
        color:black;
    }
    .p_btn2{
        font-size: 20px;
        margin: 12px;
        padding: 10px 35px;
        background-color:royalblue;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 0 0 10px black;
    }
    #sub_header{
        background-color: coral;
        width: 500px;
        border-radius: 10px;
        text-align: center;
        margin-left: 150px;
        padding: 5px;
        border: 1px solid black;
        box-shadow: 0 0 10px black;

    }

    /* Vehicle details*/
    table{
        text-align: center;
        margin-left: 150px;
    }
    #v_div{
        width: 800px;
        margin-top: 20px;
        margin-left: 350px;
        border:2px solid black; 
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        font-size: 22px;
        background-color: beige;
        box-shadow: 0 0 10px black;
    }
    
    .v_name{
        margin: 00px;
        padding: 20px;
        
        }
        .v_input{
            margin: 10px;
            padding: 8px 60px;
            border :1px solid black;
        
        }
        .v_btn1{
            font-size: 20px;
            margin: 12px;
            padding: 10px 35px;
            background-color: red;
            border-radius: 10px;
            border: 1px solid black;
            box-shadow: 0 0 10px black;
            
        }
        .v_btn1 a,.v_btn2 a{
            text-decoration: none;
            color:black;
        }
        .v_btn2{
            font-size: 20px;
            margin: 12px;
            padding: 10px 35px;
            background-color:royalblue;
            border-radius: 10px;
            border: 1px solid black;
            box-shadow: 0 0 10px black;
        }
        #sub_header_v{
            background-color: coral;
            width: 500px;
            border-radius: 10px;
            text-align: center;
            margin-left: 150px;
            padding: 5px;
            border: 1px solid black;
            box-shadow: 0 0 10px black;
    
        }

        /* claim details*/
        table{
            text-align: center;
            margin-left: 150px;
        }
        #c_div{
            width: 800px;
            margin-top: 20px;
            margin-left: 250px;
            border:2px solid black; 
            border-radius: 10px;
            text-align: center;
            padding: 10px;
            font-size: 22px;
            background-color: beige;
            box-shadow: 0 0 10px black;
        }
        .c_name{
            margin: 00px;
            padding: 20px;
            
            }
            .c_input{
                margin: 10px;
                margin-right: 350px;
                padding: 5px 80px;
                border :1px solid black;
            
            }
            .c_btn1{
                font-size: 20px;
                margin: 12px;
                padding: 10px 35px;
                background-color: red;
                border-radius: 10px;
                border: 1px solid black;
                box-shadow: 0 0 10px black;
                
            }
            .c_btn1 a,.c_btn2 a{
                text-decoration: none;
                color:black;
            }
            .c_btn2{
                font-size: 20px;
                margin-right: 350px;
                padding: 10px 35px;
                background-color:royalblue;
                border-radius: 10px;
                border: 1px solid black;
                box-shadow: 0 0 10px black;
            }
            #sub_header_c{
                background-color: coral;
                width: 500px;
                border-radius: 10px;
                text-align: center;
                margin-left: 150px;
                padding: 5px;
                border: 1px solid black;
                box-shadow: 0 0 10px black;
        
            }
